body {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url('./images/Background.jpg');
  background-size: cover;
  align-items: center;
  text-align: center;
}

#game-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin-left: 300px;
}

/* .game-intro p {
  font-size: 18px;
  font-family: "Verdana"
} */

.logo-img {
  width: 60%;
}

.arrows-img {
  width: 30%;
}

body button {
  font-size: 30px;
  background-color: #e5007e;
  color: "white";
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}